<a href="https://colab.research.google.com/github/E-Ju-E/Study-Python/blob/main/Challenge_035_044.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Python: 150 Challenges**

## 예제 코드

In [ ]:
# i가 1부터 시작해서 1씩 증가되며, 10이 되면 루프 종료 / 10에서 멈추므로 9까지 출력됨
    # 결과값 = 1 2 3 4 5 6 7 8 9
for i in range(1, 10):
    print(i)

# i가 1부터 시작해서 2씩 증가되며, 10이 되면 루프 종료 / 10에서 멈추므로 9까지 출력됨
    # 결과값 = 1 3 5 7 9
for i in range(1, 10, 2):
    print(i)

# i가 10부터 시작해서 3씩 감소되며, 1이 되면 루프 종료 / 1에서 멈추므로 4까지 출력됨
    # 결과값 = 10, 7, 4
for i in range(10, 1, -3):
    print(i)

# "word"라는 문자열의 각 문자를 한 줄씩 출력 (w 다음줄 o 다음줄 r 다음줄 d)
for i in "word":
    print(i)

## Challenge: 035
사용자의 이름을 입력하라고 요청한 뒤, 그 이름을 세 번 출력하라.

In [ ]:
# 혼자 풀어보기

name = input("이름 입력: ")
for i in range(1, 4):
    print(name)

이름 입력: 홍길동
홍길동
홍길동
홍길동

In [ ]:
# 해설

name = input("Type in your name: ")
for i in range(0, 3):
    print(name)

Type in your name: 홍길동
홍길동
홍길동
홍길동

## Challenge: 036
35번 프로그램을 수정하여 사용자가 이름과 숫자를 입력하게 하여 이름을 입력한 숫자만큼 출력하라.

In [ ]:
# 혼자 풀어보기

name = input("이름 입력: ")
num = int(input("숫자 입력: "))
for i in range(0, num):
    print(name)

이름 입력: 홍길동
숫자 입력: 8
홍길동
홍길동
홍길동
홍길동
홍길동
홍길동
홍길동
홍길동

In [ ]:
# 해설

name = input("Type in your name: ")
number = int(input("Enter number: "))
for i in range(0, number):
    print(name)

Type in your name: 홍길동
Enter number: 8
홍길동
홍길동
홍길동
홍길동
홍길동
홍길동
홍길동
홍길동

## Challenge: 037
사용자의 이름을 입력하라고 요청하고, 그 이름의 각 문자를 한 줄에 하나씩 출력하라.

In [ ]:
# 혼자 풀어보기

name = input("이름 입력: ")
for i in name:
    print(i)

이름 입력: 김가나다라
김
가
나
다
라

In [ ]:
# 해설

name = input("Enter your name: ")
for i in name:
    print(i)

Enter your name: 김가나다라
김
가
나
다
라

## Challenge: 038
37번 프로그램을 수정하여 숫자도 입력하도록 요청하자. 이름의 각 문자를 한 줄에 하나씩 출력하는 작업을 입력한 숫자만큼 반복하라.

In [ ]:
# 혼자 풀어보기

name = input("이름 입력: ")
num = int(input("숫자 입력: "))
for k in range(0, num):
    for i in name:
        print(i)

이름 입력: 김가나다라
숫자 입력: 3
김
가
나
다
라
김
가
나
다
라
김
가
나
다
라

In [ ]:
# 해설

name = input("Enter your name: ")
num = int(input("Enter a number: "))
for x in range(0, num):
    for i in name:
        print(i)

Enter your name: 김가나다라
Enter a number: 3
김
가
나
다
라
김
가
나
다
라
김
가
나
다
라

## Challenge: 039
1부터 12사이의 값을 입력하도록 요청한 뒤, 그 숫자에 대해 12까지의 곱셈표를 출력하라.

In [ ]:
# 혼자 풀어보기

num = int(input("1에서 12 사이의 숫자 입력: "))
for i in range(1, 13):
    print(num, "X", i, "=", num * i)

1에서 12 사이의 숫자 입력: 6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
6 X 11 = 66
6 X 12 = 72

In [ ]:
# 해설

num = int(input("Enter a number between 1 and 12: "))
for i in range(1, 13):
    answer = i * num
    print(i, "X", num, "=", answer)

Enter a number between 1 and 12: 6
1 X 6 = 6
2 X 6 = 12
3 X 6 = 18
4 X 6 = 24
5 X 6 = 30
6 X 6 = 36
7 X 6 = 42
8 X 6 = 48
9 X 6 = 54
10 X 6 = 60
11 X 6 = 66
12 X 6 = 72

## Challenge: 040
50 미만의 숫자를 입력하도록 요청한다. 50부터 입력한 숫자까지 카운트 다운하면서 숫자를 출력하되, 입력한 숫자까지 출력되도록 하라.

In [ ]:
# 혼자 풀어보기

user = int(input("50미만의 숫자: "))
for i in range(50, user - 1, -1):
    print(i)

50미만의 숫자: 39
50
49
48
47
46
45
44
43
42
41
40
39

In [ ]:
# 해설

num = int(input("Enter a number below 50: "))
for i in range(50, num - 1, -1):
    print(i)

Enter a number below 50: 39
50
49
48
47
46
45
44
43
42
41
40
39

## Challenge: 041
이름과 숫자를 입력하도록 요청한다. 입력한 숫자가 10미만이면 입력한 숫자만큼 이름을 출력하고, 10 이상이면 "Too high"를 세 번 출력하라

In [ ]:
# 혼자 풀어보기

name = input("이름: ")
num = int(input("숫자: "))
if num < 10:
    for i in range(1,num + 1):
        print(name)
else:
    for j in range(1, 4):
        print("Too high")

이름: 홍길동
숫자: 7
홍길동
홍길동
홍길동
홍길동
홍길동
홍길동
홍길동

In [ ]:
# 해설

name = input("Enter your name: ")
num = int(input("Enter a number: "))
if num < 10:
    for i in range(0, num):
        print(name)
else:
    for i in range(0, 3):
        print("Too high")

Enter your name: 홍길동
Enter a number: 7
홍길동
홍길동
홍길동
홍길동
홍길동
홍길동
홍길동

## Challenge: 042
total이라는 이름의 변수에 0을 설정하고 숫자를 입력하라는 요청을 다섯 번 반복한다. 숫자를 입력할 때마다 입력한 값을 total에 더할 것인지를 묻는다. 더하길 원한다는 답을 하면 total에 그 값을 더하고, 그렇지 않다면 더하지 않느다. 다섯 개의 숫자가 모두 입력되면 total을 출력하라.

In [ ]:
# 혼자 풀어보기

total = 0
for i in range(1,6):
    num = int(input("숫자 입력: "))
    plus = input("total 합산 여부 yes/no : ")
    plus = plus.lower()
    if plus == "yes":
        total = total + num
    else:
        total = total

print()
print("total: ",total)

숫자 입력: 56
total 합산 여부 yes/no : yes
숫자 입력: 83
total 합산 여부 yes/no : yes
숫자 입력: 9
total 합산 여부 yes/no : no
숫자 입력: 213
total 합산 여부 yes/no : yes
숫자 입력: 17
total 합산 여부 yes/no : no

total:  352

In [ ]:
# 해설

total = 0
for i in range(0, 5):
    num = int(input("Enter a number: "))
    ans = input("Do you want this number included? (y/n) ")
    if ans == "y":
        total = total + num
print(total)

Enter a number: 56
Do you want this number included? (y/n) y
Enter a number: 83
Do you want this number included? (y/n) y
Enter a number: 9
Do you want this number included? (y/n) n
Enter a number: 213
Do you want this number included? (y/n) y
Enter a number: 17
Do you want this number included? (y/n) n
352

## Challenge: 043
사용자에게 원하는 카운트 방향(카운트 다운 또는 카운트 업)을 묻는다. 만약 업을 선택하면 가장 큰 숫자를 묻고 1부터 그 숫자까지 출력하라. 다운을 선택하면 20미만의 숫자를 요청하고 20부터 그 숫자까지 출력하라. 업 또는 다운이 아닌 다른 것을 선택하면 "I don't understand"를 출력하라.

In [ ]:
# 혼자 풀어보기

user = input("'up' 또는 'down' 하나를 고르시오: ")
user = user.lower()
if user == "up":
    num1 = int(input("가장 큰 숫자: "))
    for i in range(1, num1 + 1):
        print(i)
elif user == "down":
    num2 = int(input("20 미만의 숫자 입력: "))
    for j in range(20, num2 - 1, -1):
        print(j)
else:
    print("I don't understand")

'up' 또는 'down' 하나를 고르시오: Down
20 미만의 숫자 입력: 17
20
19
18
17

In [ ]:
# 해설

direction = input("Do you want to count up or down? (u/d) ")
if direction == "u":
    num = int(input("What is the top number? "))
    for i in range(1, num + 1):
        print(i)
elif direction == "d":
    num = int(input("Enter a number below 20: "))
    for i in range(20, num - 1, -1):
        print(i)
else:
    print("I don't understand")

Do you want to count up or down? (u/d) d
Enter a number below 20: 17
20
19
18
17

## Challenge: 044
파티에 몇 명을 초대하고 싶은지를 묻는다. 만약 10 미만을 입력하면 이름을 묻고 "[이름] has been invited"라고 출력하는 것을 입력한 숫자만큼 반복하라. 10 이상을 입력하면 "Too many peole"이라는 메시지를 출력하라.

In [ ]:
# 혼자 풀어보기

party = int(input("파티에 몇명 초대하고 싶니?: "))
if party < 10:
    for i in range(0, party):
        name = input("이름: ")
        print(name, "has been invited")
else:
   print("Too many people")

파티에 몇명 초대하고 싶니?: 4
이름: 홍길동
홍길동 has been invited
이름: 김가나
김가나 has been invited
이름: 박다라
박다라 has been invited
이름: 최마바
최마바 has been invited

In [ ]:
# 해설

num = int(input("How many friends do you want to do invite to the party?: "))
if num < 10:
    for i in range(0, num):
        name = input("Enter a name: ")
        print(name, "has been invited")
else:
    print("Too many people")

How many friends do you want to do invite to the party?: 4
Enter a name: 홍길동
홍길동 has been invited
Enter a name: 김가나
김가나 has been invited
Enter a name: 박다라
박다라 has been invited
Enter a name: 최마바
최마바 has been invited